# Dependencies
node_modules/

# Environment variables & secrets
.env
credentials.json
.env.local
.env.development
.env.test
.env.production

# Logs & Receipts
logs/*.log
!logs/.gitkeep
receipts/*.pdf
!receipts/.gitkeep

# System & OS Files
.DS_Store
Thumbs.db

# IDE & Editor files
.vscode/
.idea/
*.swp
*.swo
